body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%;
    /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Code voor intro.html */

.intro {
    margin: auto;
    width: 560px;
}

/* Code voor concurrentie.html */

.titel {
    text-align: center;
    margin: 30px 0 40px;
}

a:visited {
    color: rgb(0, 147, 233);
}

.concurrentie {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 500px;
}

.container2, .container3 {
    color: white;
    background-color: #20ca67;
    margin: 0 10px 0 10px;
    max-width: 570px;
    min-height: 340px;
    padding: 20px;
    border-radius: 15px;
}

.container3 {
    background-color: #e74c3c;
}

/* plaats de rode en groene vlak naast elkaar */

.justify-pos-neg {
    display: flex;
    justify-content: space-around;
}

/* Code Scenarios */

.container-scenarios{
    position: absolute;
    max-width: 500px;
    max-height: 401px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}