@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Code voor intro.html */

.intro {
    margin: auto;
    max-width: 900px;
    padding: 60px;
}

.intro-header {
    color: #fcfcfc;
    background-color: #262626;
    text-align: center;
    font-size: 37pt;
    padding: 50px;
    line-height: 100px;
}

.infostudent {
    padding: 0 0 20px;
}

/* Code voor concurrentie.html */

.titel {
    color: #fcfcfc;
    background-color: #262626;
    text-align: center;
    padding: 80px;
    font-size: 36pt;
    line-height: 100px;
}

a:visited {
    color: rgb(0, 147, 233);
}

.concurrentie-breedte {
    max-width: 900px;
    margin: auto;
    padding-bottom: 60px;
}

.concurrentie {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 500px;
}

.container2, .container3 {
    color: white;
    background-color: #20ca67;
    margin: 0 10px 0 10px;
    max-width: 570px;
    min-height: 340px;
    padding: 20px;
    border-radius: 15px;
}

.container3 {
    background-color: #e74c3c;
}

/* plaats de rode en groene vlak naast elkaar */

.justify-pos-neg {
    display: flex;
    justify-content: space-around;
}

/* Code Scenarios */

.titlescenarios {
    color: #fcfcfc;
    background-color: #262626;
    text-align: center;
    font-size: 70pt;
    padding: 160px;
    margin: 0 0 50px;
}

.container-scenarios {
    margin: auto;
    max-width: 500px;
    max-height: 401px;
}

/* Code voor styleguide */

.hoofding {
    text-align: center;
    font-size: 60pt;
    color: #fcfcfc;
    background-color: #262626;
    margin: 0;
    padding: 160px;
}

.logo {
    text-align: center;
    color: #fcfcfc;
    background-color: #000000;
    margin-top: 0;
    padding: 50px 50px 90px 50px;
}

/* Font-family + size aanpassingen */

.logo-header, .fontsengrootte, .titelkleuren, .screendesignheader, .infofotos, .bandsheader, .knoppen {
    font-size: 40pt;
    margin-bottom: 100px;
}

.fontsengrootte {
    text-align: center;
    margin: 90px 0 30px;
}

.font-container {
    margin: auto;
    max-width: 900px;
}

.fonts, .fonts2 {
    width: 410px;
    float: left;
    margin: 20px;
}

.montserrattitel, .montserratsubtitel, .montserratmaintext {
    font-family: 'Montserrat', sans-serif;
}

.arialtitel, .arialsubtitel, .arialsubtitel2, .airalmaintext {
    font-family: 'Arial', Helvetica, sans-serif
}

.montserrattitel, .montserratsubtitel, .arialtitel, .arialsubtitel, .arialsubtitel2 {
    font-size: 28pt;
    font-weight: bold;
}

.montserratsubtitel {
    font-size: 18pt;
}

.arialsubtitel {
    font-size: 20pt;
}

.arialsubtitel2 {
    font-size: 16pt;
}

.montserratmaintext, .airalmaintext {
    font-size: 11pt;
}

/* zet de gekleurde cirkels naast elkaar */

.justify-colorsamples {
    text-align: center;
    max-width: 900px;
    max-height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    clear: both
}

.titelkleuren {
    clear: both;
    text-align: center;
    padding-top: 100px;
}

.kleur1, .kleur2, .kleur3, .kleur4, .kleur5, .kleur6 {
    background-color: #000000;
    min-width: 130px;
    min-height: 130px;
    border-radius: 50%;
    font-size:20px;
}

.kleur2 {
    background-color: #262626;
}

.kleur3 {
    background-color: #8f8f8f;
}

.kleur4 {
    background-color: #bfbfbf;
}

.kleur5 {
    background-color: #fcfcfc;
    border: 0.5px solid #000000;
}

.kleur6 {
    background-color: hsla(34, 61%, 57%, 1);
}

.kleurcode, .kleurcode2, .kleurcode3, .kleurcode4, .kleurcode5, .kleurcode6{
    color: #fcfcfc;
    margin-top: 50px;
    font-size: 16px;
}
.kleurcode5{
    color: #000000;
}
.kleurcode6{
    margin-top: 40px;
}

.fotos_bands {
    width: 500px;
}

.screendesigns {
    margin: auto;
    text-align: center;
    width: 900px;
    padding-bottom: 100px;
}

.screendesignheader {
    margin-top: 150px;
}

.infofotos-container {
    color: #fcfcfc;
    background-color: #262626;
    padding: 50px 0 100px;
}

.infofotos {
    text-align: center;
}

.infofotos-eersterij {
    margin: auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.infofotos-2derij {
    margin: auto;
    padding: 60px 0 60px;
    max-width: 900px;
}

.infofotos-3derij {
    text-align: center;
}

.bandrij1, .bandrij2, .bandrij3, .bandrij4, .bandrij5, .bandrij6, .bandrij6, .bandrij7, .bandrij8, .bandrij9, .bandrij10, .bandrij11, .bandrij12 {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding: 6px;
}

.bandrij12 {
    padding-bottom: 100px;
}

.bandsheader {
    text-align: center;
    margin: 100px 0 100px;
}

.knoppen-container {
    text-align: center;
    margin: 100px;
}

.knoppen {
    margin-bottom: 100px;
}

.posterheading {
    margin: 50px 0 100px;
}

.poster {
    text-align: center;
    padding: 50px 0 100px;
    font-size: 40px;
    color: #fcfcfc;
    background-color: #262626;
}